<ngx-loading-bar></ngx-loading-bar>
<div class="row">
    <div class="col-md-12">
        <h3>Поняття</h3>

        <div class="row">

            <div class="col-md-6">

                <!--<div class="row">
                    <search-item (onChange)="switchType($event)"></search-item>
                </div>-->

                <div class="list-group">
                    <definition *ngFor="let definition of definitions.data"
                                [definition]="definition"
                                (onRemove)="removeDefinition(definition.id)"
                                (onRestore)="restoreDefinition(definition.id)"></definition>
                </div>

                <div class="col-md-12">
                    <pagination [paginator]="definitions"></pagination>
                </div>

            </div>

            <div class="col-md-5">
                <h4>Додати</h4>

                <definition-form [definition]="definition" (onSubmit)="addDefinition($event)"></definition-form>

            </div>
        </div>
    </div>
</div>