<form [formGroup]="theoryGroup" (ngSubmit)="save()" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputName" class="col-md-12 col-form-label">slideshare iframe</label>
        <div class="col-md-12">
            <textarea type="text"
                      name="iframe"
                      [(ngModel)]="theory.iframe"
                      formControlName="iframe"
                      rows="7"
                      class="form-control"
                      id="inputName">
            </textarea>
        </div>
        <div class="col-sm-12" *ngIf="theoryGroup.controls['iframe'].errors && theoryGroup.controls['iframe'].touched">
            <p *ngIf="theoryGroup.controls['iframe'].errors.required">Введіть iframe</p>
        </div>
    </div>
    <div *ngIf="theory.file && theory.file.path" class="form-group">
        <label for="inputDescription" class="col-md-12 col-form-label">Минулий файл</label>
        <div class="col-md-12"><a download target="_blank" href="{{ATTACHMENT_URL + theory.file.path}}">{{theory.file.path}}</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <label class="custom-file">
                    <input type="file" id="inputGroupFile01" class="custom-file-input" required>
                    <span class="custom-file-control"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button [disabled]="theoryGroup.invalid" type="submit" class="btn btn-primary btn-block">Зберегти</button>
        </div>
    </div>
</form>