<div class="row">
    <div class="col-md-12">

        <h4>Редагування</h4>

        <course-form [course]="course"
                     [btnActionText]="'Зберегти'"
                     [btnBack]="true"
                     (onSubmit)="update($event)"></course-form>

    </div>
</div>