<div *ngIf="unit; else loader" class="row">
    <div class="col-md-12">
        <h3>Тема - {{unit.name}}</h3>
        <p *ngIf="unit.description">Опис - {{unit.description}}</p>
    </div>

    <div class="col-md-12">

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a [routerLink]="['theory']" [routerLinkActive]="['active']" class="nav-link">Теорія</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['schema']" [routerLinkActive]="['active']" class="nav-link">Практика</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['test']" [routerLinkActive]="['active']" class="nav-link">Тест</a>
            </li>
        </ul>

        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>

</div>

<ng-template #loader>Loading...</ng-template>