<div class="modal-header">
    <h4 class="modal-title">Користувачі які проходять екзамен з цієї теми</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <examination-active-users [users]="users"></examination-active-users>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Ок</button>
</div>