<div class="row">
    <div class="col-md-12">

        <h4>редагування</h4>

        <unit-form [unit]="unit"
                   [btnBack]="true"
                   [btnActionText]="'Зберегти'"
                   (onSubmit)="updateUnit($event)"></unit-form>

    </div>
</div>