<div class="row">
    <div class="col-md-12">

        <h4>Редагування</h4>

        <definition-form [definition]="definition"
                         [btnSaveText]="'Зберегти'"
                         (onSubmit)="update($event)"></definition-form>

    </div>
</div>