<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="row">
            <div class="col-md-12">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="navbar-brand nav-link" [routerLink]="'/panel/'">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li *ngFor="let crumb of crumbs; let isLast = last;" class="nav-item">
                        <a class="nav-link active" routerLink="{{crumb.path}}">
                            <span>{{ crumb.text }}</span><span *ngIf="!isLast"> > </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>