<ngx-loading-bar></ngx-loading-bar>
<sidebar></sidebar>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <navigation></navigation>
            </div>
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>