<form [formGroup]="definitionGroup" (ngSubmit)="submit()">
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Ім'я</label>
        <div class="col-sm-10">
            <input type="text"
                   name="name"
                   [(ngModel)]="definition.name"
                   formControlName="name"
                   class="form-control"
                   id="inputName">
        </div>
        <div class="col-sm-12"
             *ngIf="definitionGroup.controls['name'].errors && definitionGroup.controls['name'].touched">
            <p *ngIf="definitionGroup.controls['name'].errors.required">Введіть ім'я</p>
            <p *ngIf="definitionGroup.controls['name'].errors.minlength">Мін.
                {{definitionGroup.controls['name'].errors.minlength.requiredLength}} букв</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputDescription" class="col-sm-2 col-form-label">Опис</label>
        <div class="col-sm-10">
            <input type="text"
                   name="description"
                   [(ngModel)]="definition.description"
                   formControlName="description"
                   class="form-control"
                   id="inputDescription">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button [disabled]="!definitionGroup.valid" type="submit" class="btn btn-primary">{{ btnSaveText }}</button>
        </div>
    </div>
</form>