<form [formGroup]="unitGroup" (ngSubmit)="submit()">
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Ім'я</label>
        <div class="col-sm-10">
            <input type="text"
                   name="name"
                   [(ngModel)]="unit.name"
                   formControlName="name"
                   class="form-control"
                   id="inputName">
        </div>
        <div class="col-sm-12" *ngIf="unitGroup.controls['name'].errors && unitGroup.controls['name'].touched">
            <p *ngIf="unitGroup.controls['name'].errors.required">Введіть ім'я</p>
            <p *ngIf="unitGroup.controls['name'].errors.minlength">Мін.
                {{unitGroup.controls['name'].errors.minlength.requiredLength}} букв</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputDescription" class="col-sm-2 col-form-label">Опис</label>
        <div class="col-sm-10">
            <input type="text"
                   name="description"
                   [(ngModel)]="unit.description"
                   formControlName="description"
                   class="form-control"
                   id="inputDescription">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-4">
            <button [disabled]="!unitGroup.valid" type="submit" class="btn btn-primary">{{ btnActionText }}</button>
        </div>
        <div *ngIf="btnBack" class="col-sm-4">
            <back-page></back-page>
        </div>
    </div>
</form>