<div class="row">
    <div class="col-md-12">
        <h3>Уроки</h3>

        <div class="row">
            <div class="col-md-6">

                <div class="list-group">
                    <lesson *ngFor="let lesson of lessons.data"
                            [lesson]="lesson"
                            (onRemove)="removeLesson($event)"
                            (onRestore)="restoreLesson($event)"></lesson>
                </div>

                <div class="col-md-12">
                    <pagination [paginator]="lessons"></pagination>
                </div>

            </div>
            <div class="col-md-5">
                <h4>Додати</h4>

                <lesson-form [lesson]="lesson" (onSubmit)="addLesson($event)"></lesson-form>

            </div>
        </div>
    </div>
</div>