<div class="row">
    <div class="col-md-12">
        <h3>Тема</h3>

        <div class="row">
            <div class="col-md-6">

                <div class="list-group">
                    <unit *ngFor="let unit of units.data"
                          [unit]="unit"
                          (onRemove)="removeUnit($event)"
                          (onRestore)="restoreUnit($event)"></unit>
                </div>

                <div class="col-md-12">
                    <pagination [paginator]="units"></pagination>
                </div>

            </div>
            <div class="col-md-5">
                <h4>Додати</h4>

                <unit-form [unit]="unit" (onSubmit)="addUnit($event)"></unit-form>

            </div>
        </div>
    </div>
</div>