<nav class="col-md-12 d-none d-sm-block bg-light">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/panel/courses']">Курси</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="'/panel/definitions'">Поняття</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="'/panel/statistics'">Статистика</a>
        </li>
    </ul>

</nav>