<div class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{definition.name}}</h5>
        <small>
            <button *ngIf="!definition.deleted_at"
                    (click)="removeDefinition($event)"
                    type="button"
                    class="btn btn-danger btn-sm">Видалити
            </button>
            <button *ngIf="definition.deleted_at"
                    (click)="restoreDefinition($event)"
                    type="button"
                    class="btn btn-default btn-sm">Відновити
            </button>
        </small>
    </div>
    <p class="mb-1">{{definition.description}}</p>
    <a *ngIf="!definition.deleted_at"
       [namedRoute]="routes.edit.name"
       [namedRouteParams]="routes.edit.params"
       class="btn btn-primary btn-sm">редагувати</a>
</div>