<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin: 200px auto 0;">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email"
                               name="email"
                               [(ngModel)]="user.email"
                               required
                               class="form-control"
                               id="inputEmail"
                               placeholder="Email">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password"
                               required
                               name="password"
                               [(ngModel)]="user.password"
                               class="form-control"
                               id="inputPassword"
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Війти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>