<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownTab" ngbDropdownToggle>По типу</button>
                <div ngbDropdownMenu aria-labelledby="dropdownTab">
                    <button (click)="all()" class="dropdown-item">Все</button>
                    <button (click)="onlyTrashed()" class="dropdown-item">Удаленные</button>
                </div>
            </div>
        </div>
        <!--<div class="col-md-8">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Поиск</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>-->
    </div>

</div>