<div class="row">
    <div class="col-md-12">

        <h4>Редагування</h4>

        <lesson-form [btnActionText]="'Зберегти'"
                     [btnBack]="true"
                     [lesson]="lesson"
                     (onSubmit)="update($event)"></lesson-form>

    </div>
</div>